{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Booking{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
    <nav class="navbar bg-body-tertiary">
        <form class="container-fluid justify-content-start">
        <button class="btn btn-outline-success me-2" type="button">
            <a href="{{url_for('route_bookings')}}/Current">Current Bookings</a></button>
        <button class="btn btn-sm btn-outline-secondary" type="button" >
            <a href="{{url_for('route_bookings')}}/Completed">Completed Bookings</a>
        </button>
    </form>
    </nav>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Client</th>
          <th scope="col">Tattoo</th>
          <th scope="col">Date</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Booking Type</th>
        </tr>
      </thead>
      <tbody>
        {% if bookings %}
        {% for b in bookings %}
        <tr>
          <th scope="row">1</th>
          <td>{{ b.client.name }}</td>
          <td>{{ b.tattoo.title }}</td>
          <td>{{ b.date }}</td>
          <td>{{ b.start_time }}</td>
          <td>{{ b.end_time }}</td>
          <td>{{ b.booking_type }}</td>
          <td>
            <button type="button"
                    class="btn btn-sm btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#PaymentModal"
                    data-booking-id="{{ b.id }}"
                    data-client="{{ b.client.name }}"
                    data-tattoo="{{ b.tattoo.title }}"
            >
                Complete Booking
            </button>
            </td>
            </tr>
        {% endfor %}
        {% endif %}


      </tbody>
  </table>
</div>

{% include 'payments/payment_modal.html' %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/payments.js') }}"></script>
{% endblock %}