{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Booking{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<div class="container">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Tattoo Title</th>
            <th scope="col">Client Name</th>
            <th scope="col">Payment Type</th>
            <th scope="col">Amount</th>
            <th scope="col">Note</th>
            </tr>
        </thead>
        <tbody>
        {% if payments %}
        {% for p in payments %}
        <tr>
            <td>{{ p.tattoo_title }}</td>
            <td>{{ p.client_name }}</td>
            <td>{{ p.payment_type }}</td>
            <td>{{ p.amount }}</td>
            <td>{{ p.note }}</td>
        {% endfor %}
        {% endif %}
        </tr>

        </tbody>
    </table>
</div>
{% endblock %}