<!doctype html> 
<html lang="en"> 
    <head> 
 
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        {{ bootstrap.load_css() }} 
        <title>{% block title %}{% endblock %} Your page title</title> 
        {% block styles %}{% endblock %} 
        {% block head %}{% endblock %} 
    </head> 
    <body> 
        {% include 'navbar.html' %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container mt-2">
                {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

    </div>
  {% endif %}
{% endwith %}
        <div class="container" name="base_container">
            {% block content %}{% endblock %} 
        </div>
        {{ bootstrap.load_js() }} 
        {% block scripts %} 
        {% endblock %} 
    </body> 
</html> 

 