<!doctype html> 
<html lang="en"> 
    <head> 
 
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        {{ bootstrap.load_css() }} 
        <title>{% block title %}{% endblock %} Your page title</title> 
        {% block styles %}{% endblock %} 
        {% block head %}{% endblock %} 
    </head> 
    <body> 
        {% include 'navbar.html' %}
        <div class="container" name="base_container">
            {% block content %}{% endblock %} 
        </div>
        {{ bootstrap.load_js() }} 
        {% block scripts %} 
        {% endblock %} 
    </body> 
</html> 

 