{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Booking{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
  {% if bookings %}
  {% for b in bookings %}
    <tr>
      <th scope="row">1</th>
      <td>{{ b.client.name }}</td>
      <td>{{ b.tattoo.title }}</td>
      <td>{{ b.date }}</td>
      <td>{{ b.start_time }}</td>
      <td>{{ b.end_time }}</td>
      <td>{{ b.booking_type }}</td>
    {% endfor %}
  {% endif %}
    </tr>

  </tbody>
</table>
</div>
{% endblock %}