<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Client Details
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <h6>Name: {{client_details["name"]}}</h6>
                <h6>Phone numer: {{client_details["phone"]}}</h6>
                <h6>Notes: {{client_details["notes"]}}</h6>
                <button class="btn" , type="button">Edit details</button>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Tattoos
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <span class="container">
                    <button><a href="/add_tattoo">Add</a></button>
                </span>
                {% for tattoo in tattoos %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Mandala Sleeve <button>Edit</button></h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
                            <p class="card-text">
                            <ul>
                                <li>estimated price: </li>
                                <li>final price: </li>
                                <li>Status: Booked in</li>
                                <li>Notes: </li>
                            </ul>
                            </p>
                            <a href="#" class="card-link">Design</a>
                            <a href="#" class="card-link">Consultation</a>
                            <a href="#" class="card-link">Book-in</a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Accordion Item #3
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the third item’s accordion body.</strong> It is hidden by default, until the collapse
                plugin adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go
                within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
</div>