<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('clients') }}">Clients</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('bookings') }}">Bookings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('payments') }}">Payments</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('reports') }}">Reports</a>
  </li>
</ul>