{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Booking{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Tattoo ID</th>
            <th scope="col">Client ID</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
        {% if payments %}
        {% for p in payments %}
        <tr>
            <th scope="row">1</th>
            <td>{{ b.client.name }}</td>
            <td>{{ b.date }}</td>
            <td>{{ b.start_time }}</td>
            <td>{{ b.end_time }}</td>
            <td>{{ b.booking_type }}</td>
        {% endfor %}
        {% endif %}
        </tr>

        </tbody>
    </table>
</div>
{% endblock %}