{% extends "base.html" %}

{% block title %}Clients{% endblock %}

{% block content %}
  <div class="mb-4">
    <h1 class="mb-3">Clients</h1>
  </div>

  <div class="row">
    <!-- Client list -->
    <div class="col-md-4" id="client_list_panel">
      <h4>Client List <a href="{{ url_for('route_add_client') }}" class="btn btn-sm btn-secondary ">Add Client</a></h4>
      <div class="border rounded p-2 bg-white">
        {% include "clients/client_list.html" %}
      </div>
    </div>

    <!-- Client details -->
    <div class="col-md-8" id="details_panel">
      <h4>Details</h4>
      <div class="border rounded p-3 bg-white">
        {% include "clients/details_panel.html" %}
      </div>
    </div>
  </div>
{% endblock %}
