{% extends "base.html" %}

{% block title %}Clients{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<div class="container" id="search_client_container">
    <h1>Clients</h1>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <button class="btn btn-outline-success">
        <a href="{{ url_for('route_add_client') }}">Add Client</a></button>
</div>
<div class="container">
    <div class="row">
        <div class="col" id="client_list_panel">
            list
            {% include "clients/client_list.html" %}
        </div>
        <div class="col" id="details_panel">
            details
            {% include "clients/details_panel.html" %}
        </div>
    </div>
</div>

{% endblock %}